@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --card-color: #000;
  --bg-color: #000;
  --text-color: #00ff0090;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-weight: 700;
  font-style: normal;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  border: solid;
  position: relative;
}

.card__description_name-role {
  display: flex;
  flex-direction: column;
  margin-bottion: 10px;
}

.card__description__content {
  margin-top: 20px;
}

.card__description__content-skills {
  margin-left: 20px;
  margin-top: 5px;
}

.card__social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}
